* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  background-image: linear-gradient(rgb(255, 255, 255), #ece5dd);
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
}
.chat {
  height:80px;
  margin-left: 725px;
  align-items: center;
  margin-top: 5px;
}
.container {
  max-width: 955px;
  border: 2px solid b#ece5dd;
  margin: auto;
  height: 60vh;
  padding: 33px;
  overflow-y: auto;
  margin-bottom: 23px;
  border-radius: 10px;
  background-color: #dcf8c6;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.message {
  background-color: #15998a;
  width: 24%;
  padding: 10px;
  margin: 17px 12px;
  border: 2px solid #dcf8c6;
  border-radius: 10px;
  color: white;
  font: bolder;
  text-wrap: initial;
}
.left {
  float: left;
  clear: both;
}
.right {
  float: right;
  clear: both;
}
#send-container {
  text-align: center;
  display: block;
  margin: auto;
}
#messageInp {
  width: 59%;
  border: 2px solid #ece5dd;
  height: 34px;
  border-radius: 6px;
  margin-top: 10px;
  padding-left: 17px;
}
.btn {
  cursor: pointer;
  border: 2px solid #ece5dd;
  border-radius: 6px;
  height: 34px;
  width: 100px;
  background-color: #128c7e;
  color: white;
  font: bolder;
}
.applications {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 725px;
  align-items: center;
  margin-top: 3px;
}



